extends ../layouts/application.pug

block header
  = t('views.sessions.new.signIn')

block content
  +formFor()(action=route('session') method='post')
    +input(signInForm, 'email', t('views.sessions.new.email'), errors)(type="text")
    +input(signInForm, 'password', t('views.sessions.new.password'))(type="password")
    +submit(signInForm)(value=t('views.sessions.new.submit'))
